@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 247, 82%, 2%;
    --foreground: 210 40% 98%;
    --card: 247, 82%, 2%;
    --card-foreground: 210 40% 98%;
    --popover: 247, 82%, 2%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 247, 82%, 2%;
    --secondary: 239, 84%, 10%;
    --secondary-foreground: 210 40% 98%;
    --muted: 239, 84%, 10%;
    --muted-foreground: 215 20.2% 70%;
    --accent: 239, 84%, 10%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 239, 84%, 10%;
    --input: 239, 84%, 10%;
    --ring: 224.3 76.3% 94.1%;
  }
}

/* 11001C */
/* 190028 */
/* 220135 */
/* 32004F */
/* 3A015C */
/* ffffff */
/* 000000 */
